/* src/styles.css */

.App {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

th,
td {
    padding: 0.5rem;
    text-align: center;
}

th {
    background-color: #222;
    color: #fff;
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
}

tr:hover td {
    background-color: #e0e0e0;
}


