/* src/styles.css */

.App {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
}

th,
td {
    padding: 0.5rem;
    text-align: center;
}

th {
    background-color: #222;
    color: #fff;
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
}

tr:hover td {
    background-color: #e0e0e0;
}
.UserList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.UserItem {
    cursor: pointer;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #f2f2f2;
}

    .UserItem:hover {
        background-color: #e0e0e0;
    }

